.btn-floating .btn-small{
    position:relative;
    overflow:hidden;
    z-index:1;
    width:37px;
    height:37px;
    padding:0;
    background-color:#a6c;
    border-radius:50%;
    -webkit-transition:.3s;
    transition:.3s;
    margin:10px;
}